@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    font-family: 'Montserrat', sans-serif; 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.intro {
    background: #EAF0F1;
}

.container-fluid {
    background-color: #2F363F;
}

h1 {
    color: #4C4B4B;
    font-weight: bold;
    transition: 0.3s;
    text-align: center;
}

h3 {
    color: #2F363F;
    text-align: center;
}

button {
    border: none;
    border-radius: 8px;
    padding: 10px;
    background: #7B8788;
    color: white;
    letter-spacing: 1.5px;
    font-size: 15px;
    transition: 0.5s;
}

button:hover,
h1:hover {
    transform: scale(1.1);
}

button:hover {
    background-color: #4C4B4B;
}

footer {
    color: #586776;
    background-color: #EAF0F1;
    letter-spacing: 0.5px;
}

footer p {
    margin: 0;
    font-size: 15px;
}

@media only screen and (orientation:portrait) {
    .intro {
        display: flex;
        flex-direction: column-reverse;
    }

    h1 {
        font-size: 30px;
    }

    .act {
        padding-bottom: 100px;
    }
}

.img-fluid-last {
    max-width: 78% !important;
    height: auto;
}